* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/* html,
body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

header,
.test,
.test2 {
  scroll-snap-align: start;
} */

header {
  min-height: 100dvh;
  overflow: hidden;

  position: relative;
}

.header-text-div {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 24px;
}

.header-text {
  font-size: min(32px, 8vw);
  font-weight: 400;
}

.header-text-strong {
  font-weight: 700;
}

.header-text-special {
  font-style: italic;
  text-decoration: underline;
}

.portarit {
  width: 100%;

  position: absolute;
  bottom: min(-10px, -80px);

  /* overflow: hidden; */
}

.text-overlay {
  background-color: #d9d9d9;
  padding: 32px 16px;
  width: 100%;

  mix-blend-mode: exclusion;
  /* background-blend-mode: exclusion; */

  position: absolute;
  color: #363636;
  bottom: 99px;
}

h1 {
  line-height: 60px;
  font-weight: 900;
  font-size: 64px;
  /* color: black; */

  /* mix-blend-mode: exclusion; */
}

@media (min-width: 768px) {
  header {
    max-width: 2000px;
    margin: 0 auto;
  }

  .header-text-div {
    padding: 32px;
  }

  .header-text {
    font-size: min(48px, 12vw);
  }

  .portarit {
    width: 35%;

    bottom: -200px;

    right: 0;
  }

  .text-overlay {
    padding: 32px 200px;

    position: absolute;
    color: #363636;
    bottom: 50px;
  }

  h1 {
    line-height: 85px;
    font-size: 85px;
  }
}

@media (min-width: 1366px) {
  .header-text-div {
    padding: 64px;
  }

  .header-text {
    font-size: min(64px, 12vw);
  }

  .portarit {
    width: 45%;
    max-width: 700px;

    bottom: -200px;

    right: 0;
  }

  .text-overlay {
    padding: 32px 200px;

    position: absolute;
    color: #363636;
    bottom: 150px;
  }

  h1 {
    line-height: 85px;
    font-size: 96px;
  }
}

/* ############################################################################### */

.skills-section {
  /* background-color: red; */
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;

  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  width: 300%;
  bottom: -250px;
  left: -50px;
  opacity: 10%;
  filter: blur(2px);
}

.skills-div {
  /* padding: 24px; */
  padding-left: 24px;
}

.skills-bold {
  font-weight: 700;
  font-size: 24px;
}

ul {
  padding: 16px 32px;
}

li {
  font-size: 20px;
}

@media (min-width: 768px) {
  .skills-section {
    flex-direction: row;
    gap: 16px;
    padding-top: 32px;

    max-width: 2000px;
    margin: 0 auto;
  }

  .skills-div {
    padding-left: 32px;
  }

  li {
    font-size: 24px;
  }

  .bg {
    width: 90%;
    bottom: -400px;
    left: 300px;
    /* left: 0px; */
    opacity: 10%;
    filter: blur(2px);
  }
}

/* ############################################################################### */

.about-me {
  /* background-color: rgb(0, 255, 98); */
  height: 100vh;
  width: 100vw;

  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: center;

  padding: 24px;
  gap: 16px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.473);
}

.black-box {
  position: absolute;
  top: 0;
  right: 0;

  width: 150px;
  height: 150px;
  background-color: #181818;

  border-bottom: 20px solid #d9d9d9;
  border-left: 20px solid #d9d9d9;
}

.about-text {
  font-size: 24px;
  line-height: 150%;
}

.about-text-special {
  font-size: 24px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .about-me {
    max-width: 2000px;
    margin: 0 auto;

    padding: 32px;
    gap: 24px;
  }

  .black-box {
    width: 300px;
    height: 300px;
    background-color: #181818;

    border-bottom: 30px solid #d9d9d9;
    border-left: 30px solid #d9d9d9;
  }

  .about-text {
    max-width: 600px;
    font-size: 32px;
  }

  .about-text-special {
    font-size: 32px;
    font-weight: 500;
  }
}

/* ############################################################################### */

.contact-me {
  /* background-color: rgb(0, 225, 255); */
  height: 100vh;
  width: 100vw;

  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: center;

  padding: 24px;
  /* padding-bottom: 200px; */
  gap: 16px;
}

.black-box2 {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 150px;
  height: 150px;
  background-color: #181818;

  border-top: 20px solid #d9d9d9;
  border-right: 20px solid #d9d9d9;
}

.social-grid {
  margin-top: 16px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 32px;
}

.social-grid a {
  text-align: center;
}

.social-icon {
  width: 50%;
}

@media (min-width: 768px) {
  .contact-me {
    max-width: 2000px;
    margin: 0 auto;

    padding: 32px;
    gap: 24px;

    display: flex;
    flex-direction: column;

    justify-content: start;
  }

  .black-box2 {
    width: 300px;
    height: 300px;
    background-color: #181818;

    border-top: 30px solid #d9d9d9;
    border-right: 30px solid #d9d9d9;
  }

  .social-grid {
    margin-top: 16px;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 32px;
  }

  .social-icon {
    width: 25%;
  }
}
